<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout Prof</title>
</head>
<body>
<h1>Ajouter un nouveau prof</h1>
<h2>Remplisser le formulaire du professeur</h2>
<form th:action="@{/ajouteprof}" th:object="${prof}" method="post">
    <label for="nom">Nom</label>
    <input type="text" name="nom" id="nom" th:field="*{nomProf}">
    <p style="color: crimson" th:if="${#fields.hasErrors('nomProf')}" th:errors="*{nomProf}">Name Error</p>
    <input type="submit" value="Envoyer">
</form>


<a href="/">Page principale</a><br>

</body>
</html>